
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4">Collapsed content</h5>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <button type="button" class="fas fa-plus fa-2x btn btn-success rounded float-right"></button>
  </nav>
</div>
  <div class="container"><div class="pos-f-t"></div>
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Example</h5>
          <p>
            <strong>ID</strong>: {{example.id}}</p>
          <p>
            <p>
              <strong>Text</strong>: {{example.text}}</p>
            <p>
              <strong>Description:</strong> {{example.description}}</p>
            <a href="/">← Back To Home</a>
            <h3>Examples:</h3>
            <ul id="example-list" class="list-group">
              {{#each examples}}
              <li data-id="{{this.id}}" class="list-group-item">
                <a href="example/{{this.id}}">{{this.text}}</a>
                <button class="btn btn-danger float-right delete">ｘ</button>
              </li>
              {{/each}}
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>